body{
    background-color: white;
    padding: 0px;
}

h1{
    background-color: lightblue;
    padding: 20px;
}

aside{
    background-color: darkblue;
    padding: 20px;
    color: white;
}

main{
    background-color: lightgreen;
    padding: 20px;
    width: 60%;
}

footer{
    background-color: pink;
    padding: 20px;
    font-weight: 800;
    margin-top:400px;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: pink;
    padding: 20px;
   margin-bottom: 20px;
}